html, .app {
  background-image: linear-gradient(to bottom right, red, yellow);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: table;
}

@media(max-width: 768px) {
  .app {
      width: 100vw;
      height: 100vh;
  }
}





